<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="VuelingPracticaAppSettings" type="VuelingPractica.CrossCutting.AppSettings.CustomConfigLoader, VuelingPractica.CrossCutting.AppSettings"/>
  </configSections>
  <VuelingPracticaAppSettings>
    <TextFilePath>C:\Users\davidjm\Desktop\Proyectos\rebeldsTest.txt</TextFilePath>
  </VuelingPracticaAppSettings>
</configuration>